@using eDidactic.Domain.Entities
@model eDidactic.WebUI.Models.CoursesListViewModel

@{
    ViewBag.Title = "Kursy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h2>Lista dostępnych kursów:</h2>
</div>

@foreach (var p in Model.Courses){
    <div class="well">
        <h3>
            <strong>@p.Name</strong>
        </h3>
        <span class="pull-right label label-primary">@p.Description</span>
    </div>
}
    <div class="btn-group pull-right">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new {page = x}))
    </div>




