
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>

<div style="margin-top: 20px; line-height: 22px;">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus nulla vel nisi gravida sodales. Aenean maximus ac erat ut varius. Proin a lorem ut lacus scelerisque aliquet eu a augue. Fusce non fringilla purus. Nunc dapibus tortor quis magna egestas rutrum. Pellentesque non tempus magna, a finibus tortor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas sed turpis odio. Curabitur velit nisl, fermentum non lorem a, bibendum commodo lectus. Proin sed dui nec lectus auctor lobortis at volutpat erat. Curabitur imperdiet tellus vel eros malesuada congue. Curabitur lectus nibh, auctor eu urna luctus, fermentum laoreet erat. Aliquam convallis facilisis lorem a rutrum.

    Vivamus consequat efficitur laoreet. Sed in nisl ornare, porttitor nisi nec, fringilla massa. Phasellus pellentesque vel tortor quis viverra. Morbi ullamcorper ipsum id nulla tempor laoreet. Pellentesque dolor nibh, semper vel pulvinar nec, lacinia a urna. Etiam auctor dolor dignissim enim vestibulum tempor. Morbi posuere arcu sit amet nisl aliquet, at tincidunt ipsum dictum. Maecenas velit lectus, dignissim id nibh non, iaculis tincidunt tellus. Pellentesque eget augue elit. In eget mi felis.

    Etiam enim nisl, euismod sed urna id, suscipit commodo tellus. Etiam iaculis nisi non massa fermentum aliquet. Nam vehicula sapien ut urna ornare, et posuere est gravida. Morbi lacinia auctor ante quis elementum. Donec mauris quam, feugiat in rhoncus ac, vulputate a diam. Nullam arcu risus, scelerisque nec nulla sit amet, placerat rutrum diam. Maecenas at massa leo. Vivamus fermentum magna turpis, at tempor magna elementum vitae. Suspendisse tortor erat, tincidunt et magna id, sollicitudin dignissim libero. Phasellus eu justo mi. Donec nulla lacus, efficitur vitae eros et, elementum ultrices nulla. Mauris non sem non turpis ultrices faucibus. Donec sed est nunc. Phasellus non semper lacus, quis venenatis turpis. Nunc facilisis cursus arcu nec bibendum. Curabitur iaculis, nulla eu rhoncus aliquam, metus magna scelerisque nunc, ut interdum magna lacus sit amet nisl. 
</div>