
@{
    ViewBag.Title = "eDidactic - platforma wspomagająca edukację!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="btn">
    <div class="viewport">
        <a href="@Url.Action("List","Course")">student</a>
        <div class="hover">&nbsp;</div>
    </div>
</div>

<div class="btn">
    <div class="viewport">
        <a href="#">wykładowca</a>
        <div class="hover">&nbsp;</div>
    </div>
</div>


