
@{
    ViewBag.Title = "eDidactic - platforma wspomagająca edukację!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="ed-gray">
    <div class="ed-gray-nav">
        <div class="ed-btn">
            <div class="ed-viewport">
                <a href="@Url.Action("List","Course")">student</a>
                <div class="ed-hover">&nbsp;</div>
            </div>
        </div>

        <div class="ed-btn">
            <div class="ed-viewport">
                <a href="#">wykładowca</a>
                <div class="ed-hover">&nbsp;</div>
            </div>
        </div>
    </div>
</section>

<section id="ed-body">
    <div class="ed-courses">
        <div class="ed-text">
            <p>
                Dolore officia esse elit culpa reprehenderit consectetur cupidatat. Consequat culpa esse deserunt voluptate eiusmod. Nostrud
                esse minim minim Lorem duis quis Lorem. Lorem consectetur et do ad veniam id excepteur velit est sunt
                adipisicing. Est mollit reprehenderit dolore et quis ullamco minim mollit. Consequat dolore Lorem culpa
                aute cupidatat.Non dolor culpa ut ut Lorem. Commodo officia sit aute culpa reprehenderit fugiat laboris
                ullamco. Qui anim sunt magna qui consequat tempor excepteur dolore est Lorem.
            </p>
        </div>
        <div>
            zdjecie courses
        </div>
    </div>
    <div class="ed-homework">
        <div>
            zdjecie homework
        </div>
        <div class="ed-text">
            <p>
                Dolore officia esse elit culpa reprehenderit consectetur cupidatat. Consequat culpa esse deserunt voluptate eiusmod. Nostrud
                esse minim minim Lorem duis quis Lorem. Lorem consectetur et do ad veniam id excepteur velit est sunt
                adipisicing. Est mollit reprehenderit dolore et quis ullamco minim mollit. Consequat dolore Lorem culpa
                aute cupidatat.Non dolor culpa ut ut Lorem. Commodo officia sit aute culpa reprehenderit fugiat laboris
                ullamco. Qui anim sunt magna qui consequat tempor excepteur dolore est Lorem.
            </p>
        </div>
    </div>
    <div class="ed-tests">
        <div class="ed-text">
            <p>
                Dolore officia esse elit culpa reprehenderit consectetur cupidatat. Consequat culpa esse deserunt voluptate eiusmod. Nostrud
                esse minim minim Lorem duis quis Lorem. Lorem consectetur et do ad veniam id excepteur velit est sunt
                adipisicing. Est mollit reprehenderit dolore et quis ullamco minim mollit. Consequat dolore Lorem culpa
                aute cupidatat.Non dolor culpa ut ut Lorem. Commodo officia sit aute culpa reprehenderit fugiat laboris
                ullamco. Qui anim sunt magna qui consequat tempor excepteur dolore est Lorem.
            </p>
        </div>
        <div>
            zdjecie tests
        </div>
    </div>
</section>



